body {
	margin: 0;
	background-color: #0c98ff;
}
iframe {
	display: block;
	margin: auto;
}
select {
	font: 32px 'Times New Roman';
	width: 480px;
	text-align: center;
	margin: auto;
	margin-top: 16px;
	display: block;
	border: 4px solid red;
	background-color: #ff7100;
}
option {
	font-size: 32px;
	border: 4px solid red;
}
#desc {
	text-align: center;
	display: block;
	margin: auto;
	font: 24px 'Times New Roman';
	padding: 16px;
}
#title {
	text-align: center;
	font: 64px 'Times New Roman';
	background-color: #ff7100;
	padding: 0;
	margin: 0;
	border-bottom: 4px solid red;
}